/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

// Basic customizations
// #2a547a ,#1EB4D2 ,#1eb4d2 ,#FFFFFF ,#4d4d4d ,#FFFFFF ,#f2b93b ,#1eb4d2

.main-container{
  margin-top: 20px;
}

// Top bar
.top-bar-title{
  color: #fff;
  font-weight: bold;
}
.top-bar .is-dropdown-submenu-parent > a{
  color: #fff;
}
.top-bar .is-submenu-item > a:hover{
  background-color: #fffffe;
  text-decoration: underline;
}
.top-bar .dropdown.menu > li.is-dropdown-submenu-parent > a::after {
  border-color: #fff transparent transparent;
}

// Reports
.reports-table{
  .report-group-heading{
    background-color: #d2edf3;
    &:hover{
      background-color: #d2edf3;
    }
  }
}
